extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.email}
    ul
     li
      a(href="/portfolios") My Portfolios
     li
      a(href="/logout") Logout
  h3 Recent Portfolios
  ul
    for portfolio in portfolios
      li
        a(href="/portfolios/view?id=" + portfolio.hashid)=portfolio.name
